:root{
    --black: #000000;
    --niceword: #ba6fb0;
    --green: #12f456;

}
body{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color:cornflowerblue;
    background-color:bisque;
}
img {
    width: 200px;
}
header{
    background-color:#FF007F;
    margin :30px;
}
div{
    border: solid 5px rgb(140, 190, 214);
    margin:67px;
    height: 16px;
    padding: 41px;
}
.grid{
    display: grid;
    grid-template-areas:
    "a c"
    "b c";  
    gap: 10px;
    margin: 12px;
    background-color: var(--green)

}
.first{
    grid-area:a;
    background-color: coral;
    color:aquamarine
    
}